@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gilda+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

/* 공통 섹션 */
.section {
    width: 100%;
    height: 100vh;
}

/* 메뉴 */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    font-family: 'Abril Fatface', cursive;
}

/* 로고 */
.logo h1 {
    border: 1px solid #00283D;
    color: #00283D;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 50%;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}

/* 메뉴 아이콘 */
.navbar_icon {
    color: #00283D;
    font-size: 4rem;
}

.navbar_icon li:nth-child(2) {
    display: none;
}

/* 메뉴 리스트 */
.navbar_menu {
    display: none;
}

.navbar_menu li {
    display: none;
}

.main_wrap {
    overflow: hidden;
}

/* 메인 컨텐츠 */
.main_vis {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    position: relative;
    z-index: 99;
    width: 100%;
}

.main_vis .article_text h1 {
    font-weight: 900;
    font-size: 15rem;
}

.main_vis .article_text h1:nth-child(1) {
    position: absolute;
    width: 100%;
    top: 6rem;
    left: 1rem;
    letter-spacing: -0.1rem;
    line-height: 8rem;
    text-align: left;
    color: #fff;
    letter-spacing: -0.5rem;
    -webkit-text-stroke: 1px #00283D;
    animation: right 1.5s ease-in infinite;
    animation-iteration-count: 1;
}

.main_vis .article_text h1:nth-child(2) {
    position: absolute;
    top: 13rem;
    left: 0;
    line-height: 8rem;
    color: #00283D;
    letter-spacing: -0.6rem;
    animation: left 1.5s ease-in infinite;
    animation-iteration-count: 1;
}

.main_vis .article_text h1:nth-child(2) svg {
    animation: move 2s ease-in-out infinite;
}

/* 텍스트 왼쪽에서 오른쪽으로 */
@keyframes right {
    0% {
        transform: translateX(-500px);
    }

    100% {
        transform: translateX(0);
    }
}

/* 텍스트 오른쪽에서 왼쪽으로 */
@keyframes left {
    0% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(0);
    }
}

/* svg 움직이기 */
@keyframes move {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

/* about 페이지 */
.art_one {
    position: relative;
    width: 100vw;
    background-color: #00283D;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

/* 파도 효과 */
.art_one .wave {
    background-image: url(../img/wave2.svg);
    background-size: contain;
    background-repeat: repeat-x;
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    top: -4rem;
    /* animation: wave 5.5s linear 0s infinite; */
    transform: translate3d(0, 0, 0);
}

/* 파도 애니메이션 */
@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

/* about left */
.art_one_content {
    position: absolute;
    width: 100vw;
    top: 7rem;
    text-align: center;
    animation: motion 3s ease-in-out infinite;
}

.art_one_content h2 {
    -webkit-text-stroke: 1px #fff;
    font-size: 11rem;
    color: #00283D;
    font-weight: 900;
}

.art_one_content span {
    color: #fff;
}

.art_one_content p {
    font-size: 1.1rem;
    color: #fff;
    font-weight: 100;
    line-height: 2rem;
    letter-spacing: -0.1rem;
}

.art_one_img {
    width: 100%;
    margin-top: 3rem;
}

.art_one_img img {
    width: 15%;
    filter: grayscale(0);
    transform: rotate(-9deg);
    transition: .9s;
    /* border-radius: 0 20% 0 20%; */
    border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
    /* animation: motion 0.9s linear 0s infinite alternate; */
    animation: blur 3s ease-in-out infinite;
    /* animation-iteration-count: 1; */
    z-index: 5;
    margin-right: 2rem;
}

/* 둥둥 효과(세로) */
@keyframes motion {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: 14px;
    }

    100% {
        margin-top: 0px;
    }
}

/* 둥둥 효과(가로) */
@keyframes motion2 {

    0%,
    100% {
        transform: translateY(0) rotate(6deg);
    }

    50% {
        transform: translateY(-10px) rotate(-6deg);
    }
}

/* 잠수함 블러 효과 */
@keyframes blur {
    0% {
        box-shadow:
            0 0 0 10px rgba(0, 0, 129, 0.1),
            0 0 0 30px rgb(0, 0, 129, 0.1);
    }

    50% {
        box-shadow:
            0 0 0 30px rgb(0, 0, 129, 0.2),
            0 0 0 60px rgb(0, 0, 129, 0.1);
    }

    100% {
        box-shadow:
            0 0 0 10px rgba(0, 0, 129, 0.1),
            0 0 0 30px rgb(0, 0, 129, 0.1);
    }
}


/* 프로젝트 01 */
.art_two {
    background-color: #FFD639;
    position: relative;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.art_two h3 {
    font-size: 5.5rem;
    font-weight: 800;
    text-align: center;
    padding: 6rem 0 0 0;
    letter-spacing: -0.1rem;
    color: #00283D;
}

.art_two span {
    font-weight: 900;
    -webkit-text-stroke: 1px #00283D;
    color: #FFD639;
}

.art_two_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6.5rem;
    color: #00283D;
}

.art_two_top {
    width: 40%;
    text-align: right;
}

.art_two_top .left1 {
    display: block;
    font-size: 1rem;
}

.art_two_top .left1 ul {
    margin: 2rem 0 0 8rem;
}

.art_two_top .left1 ul li {
    margin-bottom: 0.6rem;
}

.art_two_top .left2 {
    font-family: 'Montserrat', sans-serif;
    margin: 2rem 0 0 8rem;
}

.art_two_top .left2 h5 {
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: -0.1rem;
}

.art_two_top .left2 p {
    font-size: 0.8rem;
    margin: 0.6rem 0;
}

.art_two_top .left2 .site {
    width: 22%;
    display: inline-block;
    border: 1px solid #00283D;
    background: #00283D;
    color: #fff;
    padding: 0.8rem;
    margin: 1rem 0;
    border-radius: 50%;
}

.art_two_top .left2 .site:hover {
    animation: random-bg .5s linear infinite;
}

@keyframes random-bg {
    from {
        filter: hue-rotate(0);
    }

    to {
        filter: hue-rotate(360deg);
    }
}



.art_two_bottom {
    width: 55%;
}

.art_two_bottom img {
    width: 80%;
    border-radius: 1rem;
}

/* 프로젝트 02 */
.art_three {
    background-color: #00283D;
    position: relative;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.art_three h3 {
    font-size: 5.5rem;
    font-weight: 800;
    text-align: center;
    padding: 6rem 0 0 0;
    letter-spacing: -0.1rem;
    color: #FFD639;
}

.art_three span {
    font-weight: 900;
    -webkit-text-stroke: 1px #FFD639;
    color: #00283D;
}

.art_three_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 6.5rem;
    color: #FFD639;
}

.art_three_top {
    width: 45%;
    text-align: right;
}

.art_three_top img {
    width: 35%;
    border-radius: 1rem;
}

.art_three_bottom {
    width: 55%;
}

.art_three_bottom .right1 {
    display: block;
    font-size: 1rem;
}

.art_three_bottom .right1 ul {
    margin: 2rem 0 0 8rem;
}

.art_three_bottom .right1 ul li {
    margin-bottom: 0.6rem;
}

.art_three_bottom .right2 {
    font-family: 'Montserrat', sans-serif;
    margin: 2rem 0 0 8rem;
}

.art_three_bottom .right2 h5 {
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: -0.1rem;
}

.art_three_bottom .right2 p {
    font-size: 0.8rem;
    width: 65%;
    margin: 0.6rem 0;
}

.art_three_bottom .right2 .site {
    width: 15%;
    display: block;
    border: 1px solid #FFD639;
    background: #FFD639;
    color: #00283D;
    padding: 0.8rem;
    margin: 1rem 0;
    border-radius: 50%;
}

/* study + work */
.art_four {
    background: #FFD639;
    position: relative;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #00283D;
}

.art_four h3 {
    font-size: 5.5rem;
    font-weight: 800;
    text-align: center;
    padding: 6rem 0 0 0;
    letter-spacing: -0.1rem;
}

.section_list {
    display: flex;
    justify-content: center;
}

.section_list article {
    width: 100%;
    text-align: center;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section_list article img {
    width: 33%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.section_list article button {
    background: #00283D;
    color: #FFD639;
    padding: 1rem;
    width: 30%;
    margin: 0.2rem auto;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 600;
}

.section_list article button:hover {
    background: #FFD639;
    color: #00283D;
    border: 2px solid #00283D;
    transition: 0.6s;
}

.section_list article:nth-child(1) {
    margin-top: 7rem;
}

.section_list article:nth-child(2) .BT {
    display: inline-block;
}

.section_list article:nth-child(1)>span:nth-child(2) {
    margin-top: 2rem;
}

.section_list article span:nth-child(2) {
    font-size: 1.8rem;
    font-weight: 700;
}

.section_list article span:nth-child(3) {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0.3rem;
    margin-bottom: 1.5rem;
    font-weight: 800;
    letter-spacing: -0.1rem;
}

.art_four .bar {
    width: 100%;
    height: 60px;
    background: #FFD639;
    overflow: hidden;
    padding: 11px 0;
    box-sizing: border-box;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid;
    color: #00283D;
}

.art_four .bar span {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: bold;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    animation: textloop 10s linear infinite;
}

@keyframes textloop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* 푸터 */
.footer {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: 100%;
    background: #00283D;
    display: flex;
    justify-content: space-between;
}

.footer_tp {
    position: absolute;
    top: 5rem;
    right: 9rem;
    text-align: right;
    width: 30%;
    font-size: 5rem;
    line-height: 6rem;
    font-weight: 900;
    letter-spacing: -0.2rem;
    color: #FFD639;
}

.footer_tp p {
    font-size: 1rem;
    color: #fff;
    line-height: 1.5rem;
    margin-top: 2rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
    opacity: 50%;
}

.footer_bm {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15.5rem;
    left: 11rem;
}

.footer_bm .ft_text h4 {
    font-size: 2.3rem;
    padding-bottom: 1.5rem;
    letter-spacing: -0.1rem;
    color: #FFD639;
}

.ft_send input {
    padding: 1.5rem;
    margin: 0.1rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    width: 100%;
}

.ft_send textarea {
    padding: 1.5rem;
    margin: 0.1rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 200px;
}

.ft_send button {
    padding: 1.5rem;
    margin: 0.1rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    background-color: #FFD639;
    color: #00283D;
    font-size: 1.3rem;
    text-align: center;
}

/* .ft_send button::after {
    content: '';
    background-image: url(../img/call.png);
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 25rem;
    left: 73rem;
} */

.footer img {
    position: absolute;
    overflow: hidden;
    /* top: 25rem;
    left: 73rem; */
    bottom: 2rem;
    right: 2rem;
}