@media(min-width:320px) and (max-width:768px) {

    body {
        font-size: 50%;
    }

    * {
        box-sizing: border-box;
    }

    /* 공통 섹션 */
    .section {
        width: 100%;
        height: 100vh;
    }

    /* 메뉴 */
    .nav {
        display: flex;
        justify-content: space-between;
        padding: 2rem 5rem;
        font-family: 'Abril Fatface', cursive;
        cursor: pointer;
    }

    /* 로고 */
    .logo h1 {
        border: 1px solid #00283D;
        color: #00283D;
        margin-top: 2.6rem;
        padding: 1.8rem;
        border-radius: 50%;
        font-size: 1.6rem;
        letter-spacing: 0.2rem;
    }

    /* 메뉴 아이콘 */
    .navbar_icon {
        color: #ff3d43;
        font-size: 7rem;
    }

    .navbar_none {
        display: none;
    }

    /* 메뉴 리스트 */
    .navbar_menu {
        display: none;
    }

    .navbar_menu.active {
        display: block;
        position: fixed;
        font-size: 7rem;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        text-align: right;
        background: #fff;
        color: #00283D;
        padding: 8rem 10rem;
        transition: 1s ease;
        z-index: 99;
    }

    .navbar_menu li:hover {
        color: #ff3d43;
        transition: 1s ease;
    }

    .navbar_none.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        padding: 3rem;
    }

    /* 토글 메뉴 */
    .navbar_block {
        position: fixed;
        top: 0;
        right: 0;
        padding: 3rem;
        z-index: 101;
    }

    .navbar_block.active {
        display: none;
    }

    /* 메인 시작 */
    .main_wrap {
        overflow: hidden;
    }

    /* 메인 컨텐츠 */
    .main_vis {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        position: relative;
        z-index: 98;
        width: 100%;
    }

    .main_vis .article_text h1 {
        font-weight: 900;
        font-size: 8rem;
    }

    /* yeonsua */
    .main_vis .article_text h1:nth-child(1) {
        position: absolute;
        width: 100%;
        top: 15rem;
        left: 4rem;
        letter-spacing: -0.1rem;
        line-height: 8rem;
        text-align: left;
        color: #fff;
        letter-spacing: -0.5rem;
        -webkit-text-stroke: 1px #00283D;
        animation: right 1.5s ease-in infinite;
        animation-iteration-count: 1;
    }

    /* sublisher */
    .main_vis .article_text h1:nth-child(2) {
        position: absolute;
        top: 35rem;
        right: 4rem;
        line-height: 8rem;
        color: #00283D;
        letter-spacing: -0.6rem;
        animation: left 1.5s ease-in infinite;
        animation-iteration-count: 1;
    }

    .main_vis .article_text h1:nth-child(2) span {
        animation: move 2s ease-in-out infinite;
    }

    /* 텍스트 왼쪽에서 오른쪽으로 */
    @keyframes right {
        0% {
            transform: translateX(-500px);
        }

        100% {
            transform: translateX(0);
        }
    }

    /* 텍스트 오른쪽에서 왼쪽으로 */
    @keyframes left {
        0% {
            transform: translateX(500px);
        }

        100% {
            transform: translateX(0);
        }
    }

    /* svg 움직이기 */
    @keyframes move {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-20px);
        }

        100% {
            transform: translateY(0);
        }
    }

}